@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

@theme {
  --font-marketing-1: 'Gilda Display', 'serif';
  --font-poppins: 'Poppins', 'sans-serif';
}

@layer base {
  html {
    @apply font-poppins;
  }
}

/* Scrolling effcet */
.marquee-container {
  overflow: hidden;
  position: relative;
}

.marquee-track {
  display: flex;
  gap: 40px;
  width: max-content;
  animation: scroll 20s linear infinite;
  will-change: transform;
}

.marquee-track:hover {
  animation-play-state: paused;
}

.logo-column {
  width: 160px;
  flex-shrink: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-160px * 5 - 40px * 4));
  }
}

@media (max-width: 768px) {
  .marquee-track {
    animation-duration: 10s;
  }
}

@media (min-width: 1200px) {
  .marquee-track {
    animation-duration: 20s;
  }
}

.fade-effect {
  mask-image: linear-gradient(
    to right,
    rgba(219, 148, 255, 0),
    rgb(81, 0, 100) 20%,
    rgb(68, 0, 73) 80%,
    rgba(216, 108, 255, 0)
  );
}

/* Border Running effect */

@keyframes border-running {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient-border {
  background: linear-gradient(135deg, #ffffff, #1a1a1a, #ffffff);
  background-size: 400% 400%;
  animation: border-running 6s linear infinite;
}

.animated-gradient-border-1 {
  background: linear-gradient(152.36deg, #ffffff, #1a1a1a, #ffffff);
  background-size: 400% 400%;
  animation: border-running 6s linear infinite;
}

.animated-gradient-border-2 {
  background: linear-gradient(152.36deg, #ffffff, #1a1a1a, #ffffff);
  background-size: 400% 400%;
  animation: border-running 6s linear infinite;
}

/* Glow Effect */
/* box-1 */

.glow-box-1::before,
.glow-box-1::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.6;
  z-index: 0;
  transition: all 0.2s ease-in-out;
}

.glow-box-1::before {
  top: -73px;
  left: -50px;
  background: radial-gradient(circle, #9747ff 20%, transparent 70px);
}

.glow-box-1::after {
  bottom: -74px;
  right: -70px;
  background: radial-gradient(circle, #9747ff 20%, transparent 70%);
}

.glow-box-1 {
  position: relative;
  z-index: 1;
}

.glow-box-1:hover::before {
  top: -80px;
  left: -25px;
}

.glow-box-1:hover::after {
  bottom: -80px;
  right: -30px;
}

.glow-box-1:hover::before,
.glow-box-1:hover::after {
  opacity: 1;
  filter: blur(50px);
  background: radial-gradient(circle, #a865ff 100%, transparent 60%);
}

/* box-2 */
.glow-box-2::before,
.glow-box-2::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.6;
  z-index: 0;
  transition: all 0.2s ease-in-out;
}

.glow-box-2::before {
  top: -73px;
  left: -50px;
  background: radial-gradient(circle, #5947ff 20%, transparent 70px);
}

.glow-box-2::after {
  bottom: -74px;
  right: -70px;
  background: radial-gradient(circle, #5947ff 20%, transparent 70%);
}

.glow-box-2 {
  position: relative;
  z-index: 1;
}

.glow-box-2:hover::before {
  top: -80px;
  left: -25px;
}

.glow-box-2:hover::after {
  bottom: -80px;
  right: -30px;
}

.glow-box-2:hover::before,
.glow-box-2:hover::after {
  opacity: 1;
  filter: blur(50px);
  background: radial-gradient(circle, #5947ff 100%, transparent 60%);
}

/* box-3 */
.glow-box-3::before,
.glow-box-3::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.6;
  z-index: 0;
  transition: all 0.2s ease-in-out;
}

.glow-box-3::before {
  top: -73px;
  left: -50px;
  background: radial-gradient(circle, #4791ff 20%, transparent 70px);
}

.glow-box-3::after {
  bottom: -74px;
  right: -70px;
  background: radial-gradient(circle, #4791ff 20%, transparent 70%);
}

.glow-box-3 {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.glow-box-3:hover::before {
  top: -80px;
  left: -25px;
}

.glow-box-3:hover::after {
  bottom: -80px;
  right: -30px;
}

.glow-box-3:hover::before,
.glow-box-3:hover::after {
  opacity: 1;
  filter: blur(50px);
  background: radial-gradient(circle, #4791ff 100%, transparent 60%);
}

/* box-4 */
.glow-box-4::before,
.glow-box-4::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.6;
  z-index: 0;
  transition: all 0.2s ease-in-out;
}

.glow-box-4::before {
  top: -73px;
  left: -50px;
  background: radial-gradient(circle, #47fff6 20%, transparent 70px);
}

.glow-box-4::after {
  bottom: -74px;
  right: -70px;
  background: radial-gradient(circle, #47fff6 20%, transparent 70%);
}

.glow-box-4 {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.glow-box-4:hover::before {
  top: -80px;
  left: -25px;
}

.glow-box-4:hover::after {
  bottom: -80px;
  right: -30px;
}

.glow-box-4:hover::before,
.glow-box-4:hover::after {
  opacity: 1;
  filter: blur(50px);
  background: radial-gradient(circle, #47fff6 100%, transparent 60%);
}

/* box-5 */
.glow-box-5::before,
.glow-box-5::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.6;
  z-index: 0;
  transition: all 0.2s ease-in-out;
}

.glow-box-5::before {
  top: -73px;
  left: -50px;
  background: radial-gradient(circle, #47ffa9 20%, transparent 70px);
}

.glow-box-5::after {
  bottom: -74px;
  right: -70px;
  background: radial-gradient(circle, #47ffa9 20%, transparent 70%);
}

.glow-box-5 {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.glow-box-5:hover::before {
  top: -80px;
  left: -25px;
}

.glow-box-5:hover::after {
  bottom: -80px;
  right: -30px;
}

.glow-box-5:hover::before,
.glow-box-5:hover::after {
  opacity: 1;
  filter: blur(50px);
  background: radial-gradient(circle, #47ffa9 100%, transparent 60%);
}

/* box-6 */
.glow-box-6::before,
.glow-box-6::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.6;
  z-index: 0;
  transition: all 0.2s ease-in-out;
}

.glow-box-6::before {
  top: -73px;
  left: -50px;
  background: radial-gradient(circle, #ff47f3 20%, transparent 70px);
}

.glow-box-6::after {
  bottom: -74px;
  right: -70px;
  background: radial-gradient(circle, #ff47f3 20%, transparent 70%);
}

.glow-box-6 {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.glow-box-6:hover::before {
  top: -80px;
  left: -25px;
}

.glow-box-6:hover::after {
  bottom: -80px;
  right: -30px;
}

.glow-box-6:hover::before,
.glow-box-6:hover::after {
  opacity: 1;
  filter: blur(50px);
  background: radial-gradient(circle, #ff47f3 100%, transparent 60%);
}

/* box-7 */
.glow-box-7::before,
.glow-box-7::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.6;
  z-index: 0;
  transition: all 0.2s ease-in-out;
}

.glow-box-7::before {
  top: -73px;
  left: -50px;
  background: radial-gradient(circle, #ffff47 20%, transparent 70px);
}

.glow-box-7::after {
  bottom: -74px;
  right: -70px;
  background: radial-gradient(circle, #ffff47 20%, transparent 70%);
}

.glow-box-7 {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.glow-box-7:hover::before {
  top: -80px;
  left: -25px;
}

.glow-box-7:hover::after {
  bottom: -80px;
  right: -30px;
}

.glow-box-7:hover::before,
.glow-box-7:hover::after {
  opacity: 1;
  filter: blur(50px);
  background: radial-gradient(circle, #ffff47 100%, transparent 60%);
}

/* box-8 */
.glow-box-8::before,
.glow-box-8::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.6;
  z-index: 0;
  transition: all 0.2s ease-in-out;
}

.glow-box-8::before {
  top: -73px;
  left: -50px;
  background: radial-gradient(circle, #ff9d47 20%, transparent 70px);
}

.glow-box-8::after {
  bottom: -74px;
  right: -70px;
  background: radial-gradient(circle, #ff9d47 20%, transparent 70%);
}

.glow-box-8 {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.glow-box-8:hover::before {
  top: -80px;
  left: -25px;
}

.glow-box-8:hover::after {
  bottom: -80px;
  right: -30px;
}

.glow-box-8:hover::before,
.glow-box-8:hover::after {
  opacity: 1;
  overflow: hidden;
  filter: blur(50px);
  background: radial-gradient(circle, #ff9d47 100%, transparent 60%);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
